/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

input[type="checkbox"] {
    zoom: 1.6;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    background: #dd5e89;
    background: -webkit-linear-gradient(to left, #dd5e89, #f7bb97);
    background: linear-gradient(to left, #dd5e89, #f7bb97);
    min-height: 100vh;
}


label.form-check-label {
    font-size: 1.3em;
    line-height: 1.5;

}

#count_done, #count_open {
    font-size: 0.9em;
}

div[name="text"] {
    min-width: 100px;
    word-break: break-all;
    cursor: text;
}

div[name="time"] {
    color: #e4e3e3;
}
div[name="trash"] {
    cursor: pointer;
    width: 3.4em;
    height: 1.2em;
    margin-left: 0.5em ;
    margin-top: 0.1em;
    background-image: url(../img/trash.svg);
    background-repeat: no-repeat;
}

li[done="false"] div[name="status"] {
     cursor: pointer;
     width: 3em; height: 2em;
     background-image: url(../img/circle.svg);
     background-repeat: no-repeat;
}

li[done="false"] div[name="text"] {
    text-decoration: none;
}

li[done="true"] div[name="status"] {
    cursor: pointer;
    width: 3em; height: 2em;
    background-image: url(../img/circle-fill.svg);
    background-repeat: no-repeat;
}

li[done="true"] div[name="text"] {
    text-decoration: line-through;
}

#newtask {
    cursor: pointer;
}

/*@media all and (min-height: 500px ) {*/
    footer {
        position:fixed;
        bottom:15px;
        left:0;
        right:0;

    }
/*
}*/
